# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.iml
/.idea/
/gtools.iml
liongo

/views/serve/*
/src/github.com/
/pkg/

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
*.iml
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
/gtools.iml
_testmain.go

*.iml
*.exe
*.test
*.prof

gtools.iml

#git rm -r --cached .
#git add .
#git commit -m 'update .gitignore'
